@import "tailwindcss";

/* Tokens opcionales */
:root {
  --background: #f5f3ff;
  --foreground: #2e1065;
}

.dark {
    --background: #2e1065;
    --foreground: #f5f3ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Si querés, solo la fuente global; no setees color/fondo acá */
body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
